setuptools>=68.0
wheel
Django==5.0.4
djangorestframework==3.14.0
django-filter==24.1
python-decouple==3.8
requests==2.31.0
geopy==2.4.0
scipy>=1.13.0
numpy>=1.26.0
psycopg2-binary==2.9.9
django-cors-headers==4.3.1
gunicorn==21.2.0
whitenoise==6.6.0
drf-spectacular==0.27.1
django-redis==5.4.0
redis==5.0.0
hiredis==2.2.3

